.help {
  .text-center;
  position: fixed;
  color: @white;

  .title {
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 100;
  }

  svg {
    vertical-align: sub;
  }

  .caption-category {
    h4 {
      font-size: @font-size-h4;
      font-weight: 400;
    }
    border-top: 1px solid lightgray;
  }
}
