.help {
  .text-center;
  position: fixed;

  .title {
    .page-header;
    color: @white;
    margin: @padding-base-horizontal;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 100;
  }

  svg {
    vertical-align: sub;
  }

  p {
    white-space: nowrap;

    &.caption-category {
      font-weight: bold;
    }
  }
}
