@bower-components: '../bower_components';
@bootstrap-path: '@{bower-components}/bootstrap/less';
@import '@{bootstrap-path}/bootstrap';

@import url(http://fonts.googleapis.com/css?family=Raleway:100,400);
@font-family-base: Raleway;
@body-bg: @gray-lighter;
@white: #F4FAFF;

html {
  background: #6D6C75;
  background-attachment: fixed;
  min-height: 100%;

  body {
    background: transparent;
  }
  
  .dashboard {
    .make-xs-column(12);
    .make-sm-column(9);
    .make-md-column(10);
  }
  
  .help {
    .make-sm-column(3);
    .make-md-column(2);
    .hidden-xs;
  }
}

@import 'dashboard/dashboard-styles';
@import 'help/help-styles';
