metrix-projects-bubbles,
[metrix-projects-bubbles] {

  svg {
    text {
      fill: #636269;
      font-family: 'Raleway';
      font-weight: 500;
      pointer-events: none;
      text-anchor: middle;
    }

    a, a:hover, a:focus {
      text-decoration: none;
    }

    circle {
      cursor: pointer;
      stroke-width: 0px;
      stroke: rgba(255, 255, 255, 0.7);
    }

    &.zoom * {
      pointer-events: none;
    }

    .project-score {
      font-family: @font-family-sans-serif;
      .text-muted;
      font-weight: 100;
      fill: white;
      opacity: 0.8;
    }
  }

  .circles-container.offline {
    -webkit-animation: break 1.5s;
    -webkit-animation-fill-mode: forwards;

    @-webkit-keyframes break {
      0% {
        -webkit-clip-path: polygon(62% -10%, 62% 30%, 65% 45%, 50% 60%, 60% 45%, 62% 30%, 60% -10%, 110% -10%, 110% 110%, 110% 110%, 110% 110%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% -10%);
      }
      35% {
        -webkit-clip-path: polygon(60% -10%, 60% 30%, 67% 45%, 50% 60%, 67% 45%, 60% 30%, 65% -10%, 110% -10%, 110% 110%, 110% 110%, 110% 110%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% -10%);
      }
      40% {
        -webkit-clip-path: polygon(60% -10%, 60% 30%, 67% 45%, 50% 60%, 67% 45%, 62% 30%, 65% -10%, 110% -10%, 115% 115%, 70% 80%, 105% 120%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% -10%);
      }
      65% {
        -webkit-clip-path: polygon(60% -10%, 60% 30%, 67% 45%, 50% 60%, 67% 45%, 65% 30%, 65% -10%, 110% -10%, 115% 115%, 70% 80%, 105% 120%, -10% 118%, 26% 84%, 33% 70%, 26% 84%, -10% 82%, -10% -10%);
      }
      75% {
        -webkit-clip-path: polygon(60% -10%, 60% 30%, 67% 45%, 50% 60%, 67% 45%, 65% 30%, 65% -10%, 110% -10%, 115% 115%, 70% 80%, 105% 120%, -10% 118%, 26% 84%, 33% 70%, 26% 84%, -10% 82%, -10% -10%);
      }
      100% {
        -webkit-clip-path: polygon(60% -10%, 60% 30%, 65% 45%, 50% 60%, 70% 45%, 65% 30%, 65% -10%, 110% -10%, 115% 115%, 70% 80%, 105% 120%, -10% 118%, 26% 84%, 33% 70%, 25% 83%, -10% 82%, -10% -10%);
      }
    }
  }
}

.project-details {
  .transition(all ease 0.3s);
  color: white;
  font-size: 1em;
  height: 0%;
  margin: 30px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 40%;

  &.zoom {
    height: 60%;
    opacity: 1;
  }

  span.title {
    font-weight: bold;
  }

  span.content {
    padding-left: 0.5em;
  }
}
