metrix-projects-bubbles,
[metrix-projects-bubbles] {

  svg {
    text {
      fill: #636269;
      font-family: 'Raleway';
      font-weight: 500;
      pointer-events: none;
      text-anchor: middle;
    }

    a, a:hover, a:focus {
      text-decoration: none;
    }

    circle {
      cursor: pointer;
      stroke-width: 0px;
      stroke: rgba(255, 255, 255, 0.7);
    }

    &.zoom * {
      pointer-events: none;
    }

    .project-score {
      font-family: @font-family-sans-serif;
      .text-muted;
      font-weight: 100;
      fill: white;
      opacity: 0.8;
    }
  }

  .circles-container.offline {
    -webkit-animation: break 1.5s;
    -webkit-animation-fill-mode: forwards;

    @-webkit-keyframes break {
      0% {
        -webkit-clip-path: polygon(62% -10%, 62% 30%, 65% 45%, 50% 60%, 60% 45%, 62% 30%, 60% -10%, 110% -10%, 110% 110%, 110% 110%, 110% 110%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% -10%);
      }
      35% {
        -webkit-clip-path: polygon(60% -10%, 60% 30%, 67% 45%, 50% 60%, 67% 45%, 60% 30%, 65% -10%, 110% -10%, 110% 110%, 110% 110%, 110% 110%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% -10%);
      }
      40% {
        -webkit-clip-path: polygon(60% -10%, 60% 30%, 67% 45%, 50% 60%, 67% 45%, 62% 30%, 65% -10%, 110% -10%, 115% 115%, 70% 80%, 105% 120%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% 110%, -10% -10%);
      }
      65% {
        -webkit-clip-path: polygon(60% -10%, 60% 30%, 67% 45%, 50% 60%, 67% 45%, 65% 30%, 65% -10%, 110% -10%, 115% 115%, 70% 80%, 105% 120%, -10% 118%, 26% 84%, 33% 70%, 26% 84%, -10% 82%, -10% -10%);
      }
      75% {
        -webkit-clip-path: polygon(60% -10%, 60% 30%, 67% 45%, 50% 60%, 67% 45%, 65% 30%, 65% -10%, 110% -10%, 115% 115%, 70% 80%, 105% 120%, -10% 118%, 26% 84%, 33% 70%, 26% 84%, -10% 82%, -10% -10%);
      }
      100% {
        -webkit-clip-path: polygon(60% -10%, 60% 30%, 65% 45%, 50% 60%, 70% 45%, 65% 30%, 65% -10%, 110% -10%, 115% 115%, 70% 80%, 105% 120%, -10% 118%, 26% 84%, 33% 70%, 25% 83%, -10% 82%, -10% -10%);
      }
    }
  }
}

.project-details {
  .transition(all ease 0.3s);
  color: white;
  font-size: 1em;
  height: 0%;
  overflow: hidden;
  margin: 30px;
  opacity: 0;
  position: absolute;
  top: 40%;
  width: 90%;

  &.zoom {
    height: 60%;
    opacity: 1;
    overflow: visible;
  }

  p {
    font-size: 1.3em;
    margin-bottom: 1.3em;
  }

  span.title {

  }

  span.content {
    padding-left: 0.5em;
    font-weight: bold;
  }

  span.arrow {
    font-size: 1.3em;
    padding-left: 0.5em;

    &.good {
      color: rgb(20,231,134);
    }

    &.bad {
      color: rgb(236,24,75);
    }

    &.stable {
      color: lightgray;
    }
  }

  span.bull {
    font-size: 4em;
    padding-left: 0.1em;
    vertical-align: middle;
    line-height: 1px;
    color: rgb(236,24,75);

    &.good {
      color: rgb(20,231,134);
    }
  }

  .line-chart, .error-chart {
    position: absolute;
    right: 0;
    width: 60%;
    height: 160px;

    svg {
      pointer-events: none;
      padding: 1px 0 35px 36px;
      overflow: visible;
    }

    text {
      font-family: 'Raleway';
      font-weight: 100;
    }

    path {
      fill: none;
      stroke: rgba(255, 255, 255, 0.8);
      stroke-width: 1px;
    }

    .axis * {
      font-family: 'Raleway';
      font-weight: 200;
      shape-rendering: crispEdges;
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.6);
    }

    .axis text {
      shape-rendering: auto;
      font-weight: 200;
    }
  }

  .error-chart {
    top: 200px;

    svg {
    }

    path {
      stroke: rgba(236,24,75, 0.8);
    }

    .axis * {
    }

    .axis text {
    }
  }
}

#close-zoom {
  .transition(opacity ease 0.3s);
  position: absolute;
  font-size: 5em;
  font-weight: 100;
  line-height: 0.3em;
  padding: 10px 10px 30px 30px;
  right: 0;
  top: 0;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0;

  &.zoom {
    opacity: 1;
  }
}
