.caption-category
  h4 Last delivery
  svg(height=30, width=60)
    circle(cx='15', cy='15', r='8', fill='lightgray', opacity='0.2')
    circle(cx='45', cy='15', r='8', fill='lightgray', opacity='1')
  p old / new

.caption-category
  h4 Project activity (commits)
  svg(height=40, width=60)
    circle(cx='15', cy='15', r='6', fill='lightgray')
    circle(cx='45', cy='15', r='10', fill='lightgray')
  p few / many

.caption-category
  h4 Continuous integration
  svg(height=30, width=90)
    circle(cx='15', cy='15', r='8', fill='lightgray')
    circle(cx='45', cy='15', r='8', fill='rgb(236,24,75)')
    circle(cx='75', cy='15', r='8', fill='rgb(20,231,134)')
  p none / failed / passed

.caption-category
  h4 Code coverage
  svg(height=30, width=60)
    defs
      lineargradient#gradient-empty(x1='0%', y1='100%', x2='0%', y2='0%')
        stop(offset='0.3', stop-color='rgb(20,231,134)')
        stop(offset='0.3', stop-color='lightgray')
      lineargradient#gradient-full(x1='0%', y1='100%', x2='0%', y2='0%')
        stop(offset='0.7', stop-color='rgb(20,231,134)')
        stop(offset='0.7', stop-color='lightgray')
    circle(cx='15', cy='15', r='8', fill='url(#gradient-empty)')
    circle(cx='45', cy='15', r='8', fill='url(#gradient-full)')
  p weak / strong

.credits
  p
    :markdown
      Made by [@adlena](https://twitter.com/afanad), [@jrbeaudoin](https://github.com/jrbeaudoin) and [@davinov](http://david.nowinsky.net) during [#HackathonSG](https://twitter.com/hashtag/HackathonSG).
