.caption
  .arrow
  h3.caption-title Help
  .caption-content
    svg(height=30, width=30)
      circle(cx='15', cy='15', r='8', fill='gray')
    p A project
    svg(height=30, width=60)
      circle(cx='15', cy='15', r='8', fill='grey', opacity='0.2')
      circle(cx='45', cy='15', r='8', fill='grey', opacity='1')
    p Last delivery
     br
     | old vs new

